/* Normalize CSS */
/* star means its for all elements */
/* after and before are sudo elements 
@import and allow you to inport a font/ you can do it though fonts.google.com to select the font and you can import them through the website 
the body element is where the new element you imported goes and the second one is the backup incase it doesnt work 
@media allows you to change the the width as the size of the window chances and for this it would change the color of the background  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #f7f7fc;
}
/* changes color/font etc when page reaches 600px */
@media (max-width: 600px) {
  body {
    background-color: lightgoldenrodyellow;
  }
  h1{
    font-size:55px;
  }
}
@media(max-height:300px){
  body{
    background-color:aliceblue;
  }
}
